@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

html{
scroll-behavior: smooth;
   
}

body{
    background-color: #eff5f5;
    font-family:'Poppins', sans-serif;
    font-size: 0.75rem;
}
img {
    border-radius: 20px;
    padding: 5px;
    width: 100%;
  }   
/*css encabezado*/

#logo{
    width: 160px;
    padding-top: 10px;
}

#subtituloBanner{
    position: absolute;
    top: 400px;
    color: white;
    background-color: rgba(0,0,0, 0.6);
    padding: 20px;
    width: 100%;
    text-align: center;
}
h1{
    top: 400px;
    font-size: 1.30rem;
    color:#fc7300;
    border-radius: 60px 20px;
    background-color:#00425a;
    padding: 10px;
    width: 100%;
    text-align: justify;
}

