/*CSS general*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    background: #36454F;

    }

ul {
    list-style-type: none;
}

h1 {
    font-size: 1.50rem;
    color: #eff575;
    padding: 15px;
    width: 100%;
    text-align: end;
    background-color: #1f8a70;
    margin-top: 10px;
    margin-bottom: 15px;
}


/* CSS al banner*/

.item{
    scroll-margin-top: 90px;
}

.item1{
    scroll-margin-top: 85px;
}


#fotoPortada {
    width: 100%;
}

/*Css al Banner*/

.banner {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0.5rem auto;
    box-shadow: black;
    border-radius: 10px;
    z-index: 1000;

}

.banner img {
    border-radius: 0.25rem;
    padding: 0.313rem;
    width: 100%;
    opacity: 0.57;
}

.titulo{
        position: absolute;
        top: 320px;
        font-size: 1.40rem;
        color: #eff575;
        background-color: rgba(0,0,0, 0.6);
        background-position: center;
        padding: 20px;
        width: 100%;
        text-align: center;
}

/* Css Noticias*/

.grillaNoticias h1 {
    text-align: center;
    margin-top: 50px;
}


.container1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
    margin-top: -80px;
}

.container1 .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    max-width: 100%;
    height: 300px;
    background: white;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}

.container1 .card:hover {
    height: 400px;
}

.container1 .card .img-box {
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: #333;
    border-radius: 12px;
    overflow: hidden;
    margin-left: 25px;
    transition: 0.5s;
}

.container1 .card:hover .img-box {
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.container1 .card .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container1 .card .content {
    position: absolute;
    top: 252px;
    width: 100%;
    height: 35px;
    padding: 0 30px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.container1 .card:hover .content {
    top: 130px;
    height: 250px;
}

.container1 .card .content h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color:#fc7300;
}

.container1 .card .content p {
    color: #1f8a70;
}


#piePagina {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 0.5fr;
    justify-items: center;
    align-items: center;
    align-content: start;
    justify-content: space-between;
}

#redesSociales {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}


ion-icon {
    color: #eff575;
    font-size: 2rem;
    align-self: end;

}

#logoPie {
    width: 70%;
    height: 50%;
    margin-left: 1.7rem;
}

#textofooter a{
    color: #eff575;
}


/* CSS al formulario */

h2 {
    font-size: 1.5rem;
    color: #eff575;
    padding: 15px;
    width: 95%;
    text-align: center;
    background-color: #1f8a70;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 30px;
    border: #181823;
    border-radius: 3px;

}

#formularioContacto {
    background-image: url(../Img/formulario.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
   
}


form {
    background-color: #eff575;
    border-radius: 3px;
    color: #00425a;
    font-size: 0.8em;
    padding: 50px;
    width: 400px;
    height: 510px;
}

input,
textarea {
    border: 0;
    outline: none;
    width: 280px;
}


footer{
   background-color: #1f8a70; 
   padding: 20px;
}





@media (min-width: 1200px) {
    #piePagina {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }


}

@media screen and (max-width: 768px) {

    #piePagina {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        align-content: start;
        justify-content: space-between;
    }
 
}

@media screen and (max-width: 320px) {
   
    #piePagina {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        align-content: start;
        justify-content: space-between;
    }
iframe{
    width: 300px;
    height: 200px;
}
    

}